<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean  name="movie" class="com.stackroute.domain.Movie" autowire="byName" />
  <bean name="actor" class="com.stackroute.domain.Actor">
   <constructor-arg name="name" value="Rajini"/>
   <constructor-arg name="gender"  value="male"/>
      <constructor-arg name="age" value="60"/>
  </bean>
    <bean id="BeanlifeCycle" class="com.stackroute.demo.BeanLifeCycle" init-method="custominit" destroy-method="customdestroy"/>
    <bean id="BeanPostProcessorDemo" class="com.stackroute.demo.BeanPostProcessorDemo"/>

</beans>
