<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="movie" class="com.stackroute.domain.Movie">
    <property name="actor" ref="actor1" ></property>
</bean>
  <bean id="actor1" class="com.stackroute.domain.Actor">
      <property name="name" value="Rajni"/>
      <property name="gender" value="male"/>
      <property name="age" value="56"/>
  </bean>

</beans>
