<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="movie1" class="com.stackroute.domain.Movie">
    <constructor-arg  ref="actor1" />
</bean>

    <bean id="movie2" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg  ref="actor2" />
    </bean>

    <bean id="movie3" class="com.stackroute.domain.Movie">
        <constructor-arg  ref="actor3" />
    </bean>
  <bean id="actor1" class="com.stackroute.domain.Actor">
      <constructor-arg type="String" index="0" value="Rajni"/>
      <constructor-arg type="String" index="1" value="male"/>
      <constructor-arg  type="int" index="2" value="60"/>
  </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" index="0" value="Siva"/>
        <constructor-arg type="String" index="1" value="male"/>
        <constructor-arg type="int" index="2" value="30"/>
    </bean>
    <bean id="actor3" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" index="0" value="Keerthi"/>
        <constructor-arg type="String" index="1" value="Female"/>
        <constructor-arg type="int" index="2" value="25"/>
    </bean>

</beans>
